<launch>
    <!-- launch the drive-by-wire system -->
    <arg name="sys" deafult="true" />
    <group if="$(arg sys)">
        <include file="$(find dbw_polaris_can)/launch/dbw.launch" />
    </group>

    <!-- connect to vechile's camera -->
    <include file="$(find simple_camera_publisher)/launch/example.launch" ></include>

    <!-- launch the dynamic reconfigure GUI-->
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_console" args="-t"/>

    <!-- launch the line follow node-->
    <node name="follow_lane" pkg="follow_line_pkg" type="follow_lane.py" required="true" output="screen">
        <param name="imgtopic_name" type="str" value="/cam_pub/image_raw" />   
    </node>

</launch>
